#container{
	border: gray solid 2px;
	max-width: 350px;
	margin: 0 auto;
}
.completed{
	color: red;
	text-decoration:line-through;
	
}
h1{
	background-color: #2980B9;
	color: white;
	margin: 0;
}
input{
	width: 100%;
}

